/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/


/* Mobile */

@media only screen and (min-width: 0em) {
     :root {
        --primary: #FC0052;
        --primaryShade: #ff3577;
        --primaryDark: #B80034;
        --secondary: #12242B;
        --secondaryShade: #19333b;
        --secondaryDark: #0C181D;
        --bodyText: #fff;
    }
    /* roboto-light - latin */
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: local(''), url('../fonts/Roboto-Light.ttf') format('ttf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/Roboto-Light.ttf') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        font-display: swap;
    }
    /* roboto-regular - latin */
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: local(''), url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-latin-regular.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        font-display: swap;
    }
    /* roboto-700 - latin */
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: local(''), url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-latin-700.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        font-display: swap;
    }
    /* roboto-900 - latin */
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        src: local(''), url('../fonts/roboto-v29-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-latin-900.woff') format('woff');
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        font-display: swap;
    }
    body,
    html {
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-family: 'Roboto', Arial, sans-serif;
        color: var(--bodyText);
        overflow-x: hidden;
        display: unset
    }
    main {
        overflow: hidden;
        /* overflow: visible; */
    }
    @media(min-width: 600px) {
        main {
            overflow: visible;
        }
    }
    *,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        transition: background-color 0.3s;
    }
    .container {
        position: relative;
        width: 92%;
        margin: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        color: var(--primary);
    }
    p,
    li,
    a {
        font-size: 1.125em;
        line-height: 1.5em;
        margin: 0;
    }
    p,
    li {
        color: #fff;
    }
    a:hover,
    button:hover {
        cursor: pointer;
    }
    .button-solid {
        font-size: 20px;
        text-decoration: none;
        display: inline-block;
        width: auto;
        text-align: center;
        position: relative;
        z-index: 1;
        background-color: var(--primary);
        color: #fff;
        border-radius: 15px;
    }
    .button-solid:hover {
        color: #fff;
        font-size: 90%;
    }
    .button-solid:hover:before {
        width: 100%;
    }
    .skip {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1111111;
    }
}


/* Reset Margins */

@media only screen and (min-width: 1024px) {
    body,
    html {
        padding: 0;
        margin: 0;
    }
}


/* Scale full website with the viewport width */

@media only screen and (min-width: 2000px) {
    body,
    html {
        font-size: .85vw;
    }
}


/*-- -------------------------- -->
<---         Navigation         -->
<--- -------------------------- -*/


/* Mobile - Top Drop Down */

@media only screen and (max-width: 1023px) {
    #navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10000;
        height: auto;
    }
    #navigation .background-color-div {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--secondary);
        width: 100%;
        height: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    #navigation .container {
        padding: 0.8125em 0;
        width: 96%;
    }
    #navigation .logo {
        display: inline-block;
        height: 3em;
        width: 50%;
        padding-left: 1rem;
    }
    #navigation .logo img {
        width: auto;
        height: 100%;
    }
    #navigation .logo .dark {
        display: block;
    }
    #navigation .hamburger-menu {
        position: absolute;
        right: 0em;
        border: none;
        height: 3em;
        width: 3em;
        z-index: 100;
        display: block;
        background: transparent;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: top .3s;
    }
    #navigation .hamburger-menu span {
        height: 2px;
        width: 1.875em;
        background-color: #fc0052;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: background-color 0.3s;
    }
    #navigation .hamburger-menu span:before {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: 80%;
        background: #fc0052;
        opacity: 1;
        top: -6px;
        left: 0;
        transition: width .3s, left .3s, top .3s, transform .5s;
    }
    #navigation .hamburger-menu span:after {
        content: '';
        position: absolute;
        display: block;
        height: 2px;
        width: 80%;
        background: #fc0052;
        opacity: 1;
        top: 6px;
        left: 0;
        transition: width .3s, left .3s, top .3s, transform .3s;
    }
    #navigation .hamburger-menu.clicked span {
        background-color: transparent;
    }
    #navigation .hamburger-menu.clicked span:before {
        width: 100%;
        transform: translate(-50%, -50%) rotate(225deg);
        left: 50%;
        top: 50%;
    }
    #navigation .hamburger-menu.clicked span:after {
        width: 100%;
        transform: translate(-50%, -50%) rotate(-225deg);
        left: 50%;
        top: 50%;
    }
    #navigation #navbar-menu {
        position: fixed;
        right: 0;
        padding: 0;
        width: 100%;
        border-radius: 0 0 0.375em 0.375em;
        z-index: -1;
        overflow: hidden;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: #fff;
        top: 4em;
        padding-top: 0;
        height: 0;
        transition: height 0.3s, padding-top 0.3s, top 0.3s;
    }
    #navigation #navbar-menu ul {
        padding: 0;
        perspective: 700px;
    }
    #navigation #navbar-menu ul li {
        list-style: none;
        margin-bottom: 1.5em;
        text-align: center;
        transform-style: preserve-3d;
        opacity: 0;
        transform: translateY(-0.4375em) rotateX(90deg);
        transition: opacity .5s, transform .5s;
    }
    #navigation #navbar-menu ul li:nth-of-type(1) {
        transition-delay: .1s;
    }
    #navigation #navbar-menu ul li:nth-of-type(2) {
        transition-delay: .2s;
    }
    #navigation #navbar-menu ul li:nth-of-type(3) {
        transition-delay: .3s;
    }
    #navigation #navbar-menu ul li:nth-of-type(4) {
        transition-delay: .4s;
    }
    #navigation #navbar-menu ul li:nth-of-type(5) {
        transition-delay: .5s;
    }
    #navigation #navbar-menu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-size: 1.1875em;
        text-align: center;
        display: inline-block;
        position: relative;
        font-weight: bold;
    }
    #navigation #navbar-menu ul li a.active:before {
        content: '';
        position: absolute;
        display: block;
        height: 0.42105263em;
        background: var(--primary);
        opacity: 1;
        bottom: 0.26315789em;
        border-radius: 0.21052632em;
        left: -0.31578947em;
        right: -0.31578947em;
        z-index: -1;
    }
    #navigation #navbar-menu.open {
        height: 16em;
        padding-top: 2.5em;
        z-index: -100;
    }
    #navigation #navbar-menu.open ul li {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
}


/* Desktop */

@media only screen and (min-width: 64em) {
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0.375em rgba(0, 0, 0, 0.3);
        background-color: #fff;
    }
     ::-webkit-scrollbar-track-piece {
        background-color: #f0f0f0;
    }
     ::-webkit-scrollbar {
        width: 0.75em;
        background-color: #F5F5F5;
    }
     ::-webkit-scrollbar-thumb {
        border-radius: 0.625em;
        background: var(--primary);
    }
    body.scroll #navigation .background-color-div {
        height: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    /* body.scroll #navigation .logo .light {
	   display: none;
   } */
    body.scroll #navigation .logo .dark {
        display: block;
    }
    body.scroll #navigation #navbar-menu ul li a {
        color: #fff;
    }
    body.scroll #dark-mode-toggle svg path {
        fill: #000;
    }
    body.dark-mode #navigation .background-color-div {
        height: 100%;
        box-shadow: var(--primary);
    }
    #navigation {
        width: 100%;
        height: 6.25em;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200000;
        padding: 0;
        display: flex;
        align-items: center;
    }
    #navigation .background-color-div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--secondary);
        height: 0;
        transition: height .3s;
    }
    #navigation .container {
        max-width: 55em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #navigation .logo {
        margin-right: auto;
        height: 3.75em;
        width: auto;
    }
    #navigation .logo img {
        width: auto;
        height: 100%;
    }
    #navigation #navbar-menu ul {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #navigation #navbar-menu ul li {
        list-style: none;
        margin-left: 1.875em;
        padding-top: 0.1875em;
    }
    #navigation #navbar-menu ul li a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1875em;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        color: #fff;
        transition: color .3s;
    }
    #navigation #navbar-menu ul li a:before {
        content: '';
        position: absolute;
        display: block;
        height: 0.31578947em;
        border-radius: 0.15789474em;
        background: var(--primary);
        opacity: 1;
        bottom: 0.10526316em;
        z-index: -1;
        left: 0;
        width: 0%;
        transition: width .3s;
    }
    #navigation #navbar-menu ul li a:hover:before {
        width: 100%;
    }
    #navigation #navbar-menu ul li a.active:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 0.31578947em;
        background: var(--primary);
        opacity: 1;
        bottom: 0.10526316em;
        border-radius: 0.15789474em;
        left: 0em;
        right: -0.31578947em;
        z-index: -1;
        transition: bottom .3s;
    }
    #navigation .hamburger-menu {
        display: none;
    }
}


/* Dark Mode Mobile */

@media only screen and (max-width: 1023px) {
    body.dark-mode #navigation .background-color-div {
        background-color: var(--dark);
    }
    body.dark-mode #navigation .hamburger-menu.clicked span {
        background-color: var(--dark);
    }
    body.dark-mode #navigation .hamburger-menu span {
        background-color: #fff;
    }
    body.dark-mode #navigation .hamburger-menu span:before,
    body.dark-mode #navigation .hamburger-menu span:after {
        background-color: #fff;
    }
    body.dark-mode #navigation .logo .light {
        display: block;
    }
    body.dark-mode #navigation .logo .dark {
        display: none !important;
    }
    body.dark-mode #navigation #navbar-menu {
        background-color: var(--medium);
    }
    body.dark-mode #navigation #navbar-menu ul li a {
        color: #fff;
    }
    body.dark-mode #navigation #navbar-menu ul li a:before {
        background: var(--accent);
    }
    body.dark-mode #navigation #navbar-menu ul li a.active {
        color: var(--secondary);
    }
}


/* Dark Mode Desktop */

@media only screen and (min-width: 1024px) {
    body.dark-mode #navigation .background-color-div {
        background-color: var(--dark);
    }
    body.dark-mode #navigation .logo .light {
        display: block;
    }
    body.dark-mode #navigation .logo .dark {
        display: none !important;
    }
    body.dark-mode #navigation #navbar-menu ul li a {
        color: #fff;
    }
    body.dark-mode #navigation #navbar-menu ul li a:before {
        background: var(--accent);
    }
    body.dark-mode #navigation #navbar-menu ul li a.active {
        color: var(--secondary);
    }
}


/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/


/* Mobile */

@media only screen and (min-width: 0em) {
    #int-hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 1;
        min-height: 30vh;
        padding-top: 3.125em;
    }
    #int-hero:before {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: .7;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #int-hero picture {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
    }
    #int-hero picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #int-hero h1 {
        color: #fff;
        font-size: 2.13333333em;
        text-align: center;
        margin: 0 auto;
        position: relative;
        width: 96%;
        margin-top: 1.09375em;
        margin-bottom: 0.46875em;
    }
    #int-hero p {
        color: #fff;
        text-align: center;
        max-width: 22.22222222em;
        margin: auto;
        margin-bottom: 1.66666667em;
        display: block;
        width: 96%;
    }
}


/* Tablet */

@media only screen and (min-width: 48em) {
    #int-hero {
        font-size: 16px;
    }
    #int-hero h1 {
        font-size: 2.5em;
    }
}


/* Small Desktop */

@media only screen and (min-width: 64em) {
    #int-hero {
        min-height: 18.75em;
        height: auto;
        padding-top: 11.25em;
        padding-block-end: 6.25em;
        background-attachment: fixed;
        font-size: inherit;
    }
}


/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/


/* Mobile */

@media only screen and (min-width: 0em) {
    #footer {
        background: var(--secondary);
        padding: 5.25em 0 1.25em;
        font-size: min(4vw, 1.2em);
    }
    #footer .left-section {
        margin: auto;
        margin-bottom: 3.125em;
        text-align: center;
    }
    #footer .left-section .logo {
        display: inline-block;
        margin: auto;
        width: auto;
        height: 3.125em;
        margin-bottom: 1.875em;
        text-align: center;
    }
    #footer .left-section .logo img {
        width: auto;
        height: 100%;
        display: block;
    }
    #footer .left-section p {
        font-size: 0.875em;
        line-height: 1.92857143;
        color: #fff;
        opacity: .9;
        text-align: center;
        width: 100%;
        width: 21.92857143em;
        margin: auto;
    }
    #footer .right-section {
        width: 96%;
        max-width: 25.4375em;
        margin: auto;
    }
    #footer .right-section .lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 96%;
        max-width: 19.1875em;
        margin: auto;
    }
    #footer .right-section .lists ul {
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    #footer .right-section .lists ul:nth-of-type(3) {
        margin-top: 3.125em;
    }
    #footer .right-section .lists ul:nth-of-type(3) li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.88888889em;
    }
    #footer .right-section .lists ul:nth-of-type(3) li:last-of-type {
        margin-bottom: 0;
    }
    #footer .right-section .lists ul li {
        list-style: none;
        margin-bottom: 0.66666667em;
        color: #fff;
        font-size: 1em;
        opacity: .9;
    }
    #footer .right-section .lists ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 1.16666667;
        transition: color .3s;
    }
    #footer .right-section .lists ul li a:hover {
        color: var(--primary);
    }
    #footer .right-section .lists ul h2 {
        color: #fff;
        font-size: 1.125em;
        line-height: 1.16666667;
        margin-bottom: 2.05555556em;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
    }
    #footer .right-section .lists ul h2:before {
        content: '';
        position: absolute;
        display: block;
        height: 0.11111111em;
        width: 5.38888889em;
        background: #EEBE76;
        opacity: 1;
        bottom: -0.88888889em;
        left: 0;
    }
    #footer .right-section .buttons {
        display: flex;
        justify-content: center;
    }
    #footer .right-section .button-solid {
        margin: 0;
        height: 2.94444444em;
        padding-top: 0.16666667em;
        width: 13.88888889em;
    }
    #footer .credit {
        color: #fff;
        width: 96%;
        margin: auto;
        text-align: center;
        margin-top: 2em;
        line-height: 2.25em;
        font-size: 1em;
    }
    #footer .credit a {
        color: var(--primary);
        text-decoration: none;
        font-size: 1em;
    }
    #footer .credit a:hover {
        text-decoration: underline;
    }
    #footer .credit .copyright {
        display: block;
        font-size: 1em;
    }
}


/* Small Desktop */

@media only screen and (min-width: 64em) {
    #footer {
        font-size: min(1.2vw, 1em);
    }
    #footer .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 96%;
        max-width: 82.5em;
        margin: auto;
        padding: 0;
    }
    #footer .left-section {
        width: 25.5625em;
        margin: 0;
        text-align: left;
    }
    #footer .left-section .logo {
        text-align: left;
        margin-left: 0;
        height: 4.375em;
    }
    #footer .left-section p {
        text-align: left;
        margin-left: 0;
    }
    #footer .right-section {
        margin: 0;
        width: 38.0625em;
        max-width: none;
    }
    #footer .right-section .lists {
        width: 96%;
        max-width: 48.0625em;
        margin: 0;
        max-width: initial;
    }
    #footer .right-section .lists ul:nth-of-type(3) {
        margin-top: 0;
    }
    #footer .right-section .lists ul:nth-of-type(3) li:first-of-type {
        margin-bottom: 0;
    }
    #footer .right-section .lists ul li a {
        position: relative;
    }
    #footer .right-section .lists ul li a:before {
        content: '';
        position: absolute;
        display: block;
        height: 0.11111111em;
        width: 0%;
        background: var(--primary);
        opacity: 1;
        bottom: -0.16666667em;
        left: 0;
        transition: width .3s;
    }
    #footer .right-section .lists ul li a:hover:before {
        width: 100%;
    }
    #footer .right-section .buttons {
        justify-content: flex-start;
    }
    #footer .credit .copyright {
        display: inline-block;
    }
}


/* Dark Mode */

@media only screen and (min-width: 0em) {
    body.dark-mode #footer {
        background: var(--secondary);
    }
}

body {
    background-color: var(--secondary);
}

body.dark-mode .button-solid {
    background-color: var(--secondary)
}


/* New layout control */

.row {
    max-width: 58em;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content {
    padding: 1.5em 0;
}

.w-auto {
    width: auto;
}

main section:nth-of-type(1) {
    padding-top: 6rem;
}

@media (min-width: 1025px) {
    main section:nth-of-type(1) {
        padding-top: 12rem;
    }
    .column {
        padding-left: 0.975rem;
        padding-right: 0.975rem;
    }
}

.column {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    position: relative;
}

.main-content {
    padding: 2em 0;
}

@media(min-width: 1200px) {
    .main-content {
        padding: 4em 0;
    }
}

.sm-12 {
    width: 100%;
}

.sm-6 {
    width: 50%;
}

@media(min-width: 600px) {
    .md-4 {
        width: 33.333%;
    }
    .md-6 {
        width: 50%;
    }
    .md-8 {
        width: 66.666%;
    }
}

@media(min-width: 900px) {
    .lg-3 {
        width: 25%;
    }
    .lg-4 {
        width: 33.333%;
    }
    .lg-6 {
        width: 50%;
    }
    .lg-5 {
        width: 41.667%;
    }
}

ul.buttons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

ul.buttons a {
    color: var(--white);
    text-decoration: none;
    background-color: var(--primary);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    min-width: 11em;
    max-width: 11em;
    min-height: 3em;
    max-height: 3em;
    font-size: 1.115em;
    padding: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

ul.buttons li {
    width: auto;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

@media(min-width: 800px) {
    ul.buttons a {
        margin-bottom: 0;
        margin-right: 1rem;
    }
}


/* Typography */

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.625em;
}

h2 {
    font-size: 2.2rem;
}

@media(min-width: 1200px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
}


/* jumbotron */

.jumbotron h1 {
    color: var(--white);
    margin-bottom: .5rem;
}

.jumbotron p {
    margin-bottom: 1rem;
}

.jumbotron .column {
    text-align: center;
}

@media(min-width: 800px) {
    .jumbotron {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .jumbotron .column {
        max-width: 795px;
        max-width: 48em;
        /* height: 80vh; */
    }
}


/* Services */

.service-sliderItem {
    background-color: rgba(255, 255, 255, 0.2);
    padding: .6rem;
    border-radius: 10px;
}

.service-sliderItem h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding: 1.25rem .5rem 1.25rem;
}

.service-sliderItem img {
    border-radius: 10px;
}

.service-sliderItem .image {}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.swiper-container {
    overflow: hidden;
    position: relative;
}

.service-slider .swiper-button-next,
.service-slider .swiper-button-prev {
    /* position: relative; */
}

.service-slider .swiper-button-next,
.service-slider .swiper-rtl .swiper-button-prev {
    right: -50px;
}

.service-slider .swiper-button-prev,
.service-slider .swiper-rtl .swiper-button-next {
    left: -50px;
}

.service-slider .swiper-button-next:after,
.service-slider .swiper-button-prev:after {
    content: unset;
}

.swiper-button-prev img,
.swiper-button-next img {
    width: auto;
}


/* Process */

.process h2 {
    font-size: 40px;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* left: 50%;
    transform: translateX(-50%); */
    margin-bottom: 3rem;
}

.process h2::before {
    content: '';
    background-color: #0C181D;
    width: 125%;
    height: 100%;
    padding: 2rem;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.process .step {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 50%;
    font-weight: bold;
}

.process .row>div {
    display: flex;
}

.process .row>div>div {
    display: flex;
}

.process p.text {
    width: 84%;
    font-size: 20px;
    font-weight: 300;
    padding-left: 1rem;
}


/* Offer  */

.offer-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.5rem;
    margin-right: -.5rem;
    margin-top: 2rem;
    position: relative;
}

.offer-grid h3 {
    color: #fff;
    font-size: 1.375em;
    margin-top: 1rem;
    font-weight: 500;
}

.gridItem {
    margin-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    z-index: 9999;
    position: relative;
}

.gridItem>div {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.26);
    /* background-color: #ffffe1;    */
    border-radius: 10px;
    height: 100%;
    position: relative;
    backdrop-filter: blur(10px);
}

.icon {
    background-color: rgba(252, 0, 72, .15);
    border-radius: 5px;
    border: 2px solid var(--primary);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    position: relative;
}

.blur {
    position: absolute;
    left: 50%;
    top: 58%;
    right: 0%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.blur.bigBlur {
    top: 70%;
}

.call-to-action h2 {
    color: #fff;
}

.call-to-action .column>div {
    background-color: var(--primary);
    padding: 3rem 5rem;
    padding-bottom: 2rem;
    text-align: center;
    border-radius: 15px;
}

.call-to-action a.button {
    background-color: #12242B;
}

.call-to-action ul.buttons {
    margin-top: 1.5rem;
}

.review-gridItem>div {
    padding: 1.25rem;
    background-color: rgba(255, 255, 255, 0.26);
    /* background-color: #ffffe1; */
    border-radius: 10px;
    height: 100%;
    position: relative;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

.review-gridItem {
    /* padding-left: 0.75rem;
    padding-right: 0.75rem; */
    margin-bottom: 2rem;
}

.review-grid {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: 4rem;
    /* display: flex;
    flex-wrap: wrap; */
}

.reviews p {
    font-weight: 300;
}

.reviews .heading {
    text-align: center;
}

.reviews .heading p {
    font-weight: 400;
}

.review-gridItem p {
    font-size: 1.5em;
    flex: auto;
}

.review-gridItem p.name {
    font-weight: 600;
    margin-top: 1rem;
    color: #FC0048;
    flex: 1;
}

.reviews .main-content {
    padding: 2em 0;
}

.call-to-action h2 {
    font-weight: 400;
    /* font-size: 40px; */
    font-size: 2.5em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.lists ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.lists li {
    margin-bottom: .35rem;
}

.lists a {
    text-decoration: none;
    color: #B0B0B0;
    font-weight: 300;
}

.lists {
    text-align: center;
    margin-bottom: 2rem;
}

@media(min-width: 1200px) {
    .lists {
        text-align: left;
        margin-bottom: 0;
    }
    .credit {
        margin-top: 6rem !important;
    }
}

nav li .text {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    margin-left: .5rem;
}

nav li a {
    display: flex;
}

#footer li a:hover {
    color: var(--primary);
}

a {
    transition: .3s;
}


/* .height-small {
    height: 10rem;
}

.review-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
} */

.call-to-action .price {
    font-size: 24px;
    font-weight: 600;
}

.call-to-action .description {
    margin-top: .25rem;
    font-size: 14px;
}

.call-to-action .info {
    margin-top: .25rem;
    padding: 0.5rem;
    /* background-color: rgba(0, 0, 0, 0.25); */
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    color: #12252b;
}

.call-to-action h2 {
    margin-bottom: 1.5rem;
}

button {
    background: none;
    border: none;
    color: #fff;
    margin-right: 1rem;
    color: var(--white);
    text-decoration: none;
    background-color: var(--primary);
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    min-width: 200px;
    max-width: 200px;
    font-size: 1.115em;
    padding: 1rem;
    margin-bottom: 1rem;
    min-height: 62px;
    max-height: 62px;
}

.call-to-action button {
    background-color: #12242B;
    margin-bottom: 0;
}

.snip-layout.snip-active {
    z-index: 9999999;
}

.snip-layout .snip-ico--close:before,
.snip-layout .snip-ico--close:before {
    content: "x" !important;
    font-family: 'Roboto';
}

button,
a.button {
    transition: .3s;
}

button:hover,
a.button:hover {
    font-size: 120%;
}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}


/**
 * Smooth scrolling on the whole document
 */

html {
    scroll-behavior: smooth;
}

.review-grid>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.review-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(437px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.review-grid .wide {
    grid-column: span 2;
}

.review-grid .tall {
    grid-row: span 2;
}

.review-grid .big {
    grid-column: span 2;
    grid-row: span 2;
}

.snip-layout .snipcart-step .snip-product__empty {
    text-transform: unset;
    color: #000;
}

.snip-layout .snip-header__title {
    font-family: 'Roboto' !important;
    font-weight: 500;
    text-transform: none;
}

article {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.blogs .column:last-child article {
    margin-bottom: 0;
}

article .image,
article .content {
    width: 100%;
}

@media(min-width: 800px) {
    article .image,
    article .content {
        width: 50%;
    }
}

article .content {
    padding-left: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

a {
    color: #fc0052;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
}

article h2 {
    font-size: 2em;
    margin-bottom: 1rem;
}

article .footer {
    margin-top: 1rem;
}

article .date {
    margin-bottom: 1rem;
    border: 1px solid #fc0052;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 5px;
}

article p,
.about-page p {
    font-size: 1em;
}

#navigation #navbar-menu.open ul li:last-child {
    margin-bottom: 0;
}

article img {
    border-radius: 5px;
}

@media(max-width: 799px) {
    .processWrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .processItem {
        width: 100%;
        margin-bottom: 1rem;
    }
    .review-grid {
        margin-left: 0;
        margin-right: 0;
        display: block;
        margin-top: 2rem;
    }
    .call-to-action .column>div {
        padding: 2rem 1rem;
    }
    .service-slider {
        margin-bottom: 5rem;
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: 125% !important;
    }
    .service-slider .swiper-button-next,
    .service-slider .swiper-rtl .swiper-button-prev {
        right: 80px;
    }
    .service-slider .swiper-button-prev,
    .service-slider .swiper-rtl .swiper-button-next {
        left: 80px;
    }
    .blur {
        height: 175vh;
        width: 120vw;
    }
    .bigBlur {
        width: 100vw;
        height: 200vw;
    }
    .gridItem>div {
        padding: 1.5rem;
    }
    .offer-grid h3 {
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
    }
    .review-gridItem p {
        font-size: 1em;
    }
    .review-grid>div {
        margin-bottom: 1rem;
    }
    .review-gridItem>div {
        padding: 1rem 1.25rem;
    }
    .call-to-action h2 {
        font-size: 1.5em;
    }
}

#int-hero {
    padding-top: 6.25em;
    padding-block-end: 4.25em;
}

#int-hero ul.buttons {
    margin-top: 2rem;
}

@media(min-width: 600px) {
    .about-page .textBlock picture {
        position: sticky;
        top: 125px;
    }
}

.topper {
    margin-bottom: 50px;
}

body h2 span {
    color: var(--primary);
}

.circles {
    padding-top: 50px;
}

.circle-box {
    margin-bottom: 100px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 45px;
    position: relative;
}

.circle span {
    color: #fff;
    font-size: 2em;
}

.circle:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--primary);
    opacity: .6;
    z-index: -1;
}

.circle:after {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--primary);
    opacity: .3;
    z-index: -1;
}

.circle-box h3 {
    text-align: center;
    margin: 15px auto;
    font-size: 1.3em;
}

.circle-box p {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.blog-article h2 {
    margin-top: .75rem;
    /* margin-bottom: .75rem; */
}

@media screen and (min-width: 1026px) {
    #circles {
        position: relative;
        z-index: 1000;
    }
    .topper {
        padding-top: 25px;
        text-align: center;
    }
    .topper h2 {
        text-align: center;
        margin-bottom: 40px;
    }
    .topper p {
        text-align: center;
    }
    .circles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        padding-top: 50px;
    }
    .circles:before {
        content: '';
        position: absolute;
        width: 600px;
        left: 130px;
        top: 75px;
        z-index: -1;
        border: 1px dashed rgba(252, 0, 82, .1);
    }
    .circle-box {
        width: 300px;
    }
    #circles .main-content {
        padding-bottom: 0;
    }
}

.blog-article p {
    font-size: 1rem;
}

p img {
    width: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    overflow: hidden;
}

#snipcart-guest-checkout-container {
    display: none;
}

a {
    cursor: pointer;
    pointer-events: auto;
}

.service-sliderItem img {
    margin: auto;
}


/* @media(max-width: 499px) {
    .process h2::before {
        padding: 4rem;
    }
} */

@media(max-width: 599px) {
    .process h2 {
        text-align: center;
        width: 100%;
        margin-bottom: 3rem;
    }
    .circlesBlock p {
        text-align: center;
    }
    .process h2::before {
        padding: 3rem;
    }
    .process h2.large-title::before {
        padding: 4rem;
    }
    .hasFeature .row {
        display: flex;
    }
    .hasFeature .col-1 {
        margin-top: 2rem;
        order: 2;
    }
    .hasFeature .col-2 {
        order: 1;
    }
    .circle-box {
        margin-bottom: 2.5rem;
    }
    .topper {
        margin-bottom: 0;
    }
    .call-to-action .column>div {
        padding: 1rem;
        padding-bottom: 1rem;
        padding-top: 2rem;
    }
    .service-sliderItem h2 {
        font-size: 1rem;
        padding: 0.75rem 0.5rem 0.5rem;
    }
    .service-sliderItem h2 {}
}

@media(max-width: 799px) {
    article .content {
        border: 1px solid #eee;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.main-content {
    width: 100%;
}

@media(min-width: 600px) {
    .service-sliderItem img {
        width: 100%;
    }
}

.main-content {
    overflow: visible;
}

.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.modal-wrapper.modal--open {
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
    pointer-events: all;
    z-index: 999999999;
}

.modal {
    background-color: #12252b;
    border-radius: 15px;
    width: 40vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    display: none;
}

.modal--open>.modal {
    display: flex;
    padding: 3rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal label {
    width: 100%;
    margin-bottom: .5rem;
}

.modal input,
.modal textarea {
    padding: 1rem;
    border-radius: 10px;
    border: unset;
    margin-bottom: .5rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.modal .input-group {
    display: flex;
    flex-wrap: wrap;
}

textarea {
    min-height: 150px;
    font-family: 'Roboto';
    width: 100%;
}

.modal form {
    width: 75%;
}

.modal h2 {
    width: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
    /* padding-left: 6rem; */
}

.modal .close {
    position: absolute;
    right: 13%;
    top: 3.5rem;
}

.close svg {
    max-width: 1.5rem;
    cursor: pointer;
}

.input-group.checkbox {
    align-items: flex-start;
    flex-direction: row !important;
    margin-bottom: 1rem;
}

.input-group.checkbox input {
    margin: 0;
    margin-right: .75rem;
    width: auto;
}

.input-group.checkbox label {
    margin: 0;
    width: auto;
}

@media(max-width: 800px) {
    .modal {
        width: 80vw;
        height: 90vw;
    }
}

@media(max-width: 500px) {
    .modal {
        width: 99vw;
        height: 99vh;
    }
    h2 {
        font-size: 2rem;
    }
}

.termsBlock span,
.termsBlock span>span,
.termsBlock a {
    color: #fff !important;
}

form input {
    color: #fff;
}

.container {
    margin: 0 auto;
    padding: 1.5rem;
    width: 100%;
}

button[aria-expanded='true'] {
    color: blue;
}

button[aria-expanded='true'] .icon::after {
    width: 0;
}

button[aria-expanded='true'] .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion-content p {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 2em 0;
    margin-top: 0;
}

.accordion .accordion-item {
    border-bottom: 1px solid #eee;
}

.accordion .accordion-item[aria-expanded='true'] .accordion-content {
    opacity: 1;
    max-height: 100%;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #fc0052;
}

.accordion .accordion-item button:hover,
.accordion .accordion-item button[aria-expanded='true'] {
    color: #fc0052;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    min-height: unset;
    max-height: unset;
    max-width: unset;
    min-width: unset;
    padding: 0;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #fc0052;
}

.accordion button::after {
    cursor: pointer;
    color: #fc0052;
    border: 1px solid #fc0052;
}

.accordion .accordion-title {
    padding: 1em 1.5em 1em 0;
    display: block;
}

.accordion .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

main #form {
    padding-top: 5em;
    padding-bottom: 2em;
}


/* .contact-textBlock {
    background-color: #eee;
}

.contact-textBlock .accordion button,
.contact-textBlock p {
    color: #000;
} */

#modal-mail.modal-wrapper {
    background-color: unset;
    top: unset;
}

#modal-mail .modal {
    background-color: #0C181D;
    width: 100vw;
    height: 130px;
    padding: 0;
    overflow: hidden;
    border-radius: 0;
    display: block;
}

#modal-mail .modal h2 {
    font-size: 1.15rem;
    text-align: center;
}

#modal-mail .modal form {
    max-width: 550px;
    margin: auto;
    display: flex;
}

#modal-mail .modal .input-group {
    flex-wrap: nowrap;
    width: 100%;
}

#modal-mail .modal label {
    width: auto;
    display: flex;
    align-items: center;
    margin-right: 1.25rem;
    margin-bottom: 0;
    display: none;
}

#modal-mail .modal input,
#modal-mail .modal button {
    margin: 0;
    max-height: 50px !important;
    min-height: unset;
    padding: .75rem 1rem;
    display: block;
}

#modal-mail .modal button {
    max-width: 150px;
    min-width: 150px;
    width: 100%;
    margin-left: 1.5rem;
}

#modal-mail .close {
    display: none;
}

.accordion-item.highlight button {
    color: #fc0052;
}

main form input {
    color: #0C181D;
}

.faq-textBlock h2 {
    margin-bottom: 4rem;
}

.faq-textBlock .container {
    padding-top: 0;
}

.accordion .accordion-item:last-child {
    border: 0;
}

#modal-mail.modal-wrapper {
    position: sticky;
    z-index: 999999;
}

#footer {
    background: #0d181d;
    position: relative;
}

#footer::after {}

.home #footer::after {
    content: '';
    background-color: #0d181d;
    position: absolute;
    left: 0;
    top: -11rem;
    right: 0;
    height: 4rem;
}

@media(max-width: 600px) {
    #modal-mail .modal {
        height: 220px;
    }
    #modal-mail .modal form {
        flex-direction: column;
    }
    #modal-mail .modal form .form-submit {
        width: 100%;
    }
    #modal-mail .modal form .form-submit button {
        margin: auto;
        margin-top: 1.25rem;
    }
    #modal-mail .modal input {
        padding: 1rem;
    }
}

@media(max-width: 640px) {
    #modal-mail .modal {
        height: 220px;
    }
}